html, body {
	height: 100%;
	width: 100%;
    background: rgba(0,51,81,1)!important;
}

#root {
	height: 100%!important;
	width: 100%!important;
}

.light-outer-box {
    border-radius: 30px;
    padding: 15px;
    background: #07cc8f;
}

.light-inner-box	 {
    border-radius: 30px;
    height: 100%;
    background: #ffffff;
}

.pointer-all {
	pointer-events: all!important;
}

.btn-success {
    background: #07cc8f!important;
    border: none!important;
}

.btn-success:hover {
    background: #07dd9f!important;
    border: none!important;
}

.progress-bar {
    background: #90d5fb!important;
}

mark {
    background: rgba(40,205,193,.47)!important;
}

kbd {
    border: 5px solid black!important;
}